@mixin floor-padding {
  padding-left: 2rem;
  padding-right: 2rem;
  @media(max-width:600px){
    padding-left: 1rem;
    padding-right: 1rem;
  }
  @media(min-width:1400px){
    padding-left: 4rem;
    padding-right: 4em;
  }
  @media(min-width:1600px){
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
@mixin primary-btn {
  background-color: var(--main-color);
  padding: 0.75rem 1.25rem;
  color: white;
  border-radius: 8px;
  border: 1px solid var(--main-color);
  transition: all 0.5s ease-out;
  display: block;
  text-align: center;
  margin: 1rem auto;
  width: max-content;
  min-width: 100px;
  &:hover {
    background-color: var(--main-color-hover);
  }
}
@mixin border {
  border-radius: 8px;
  border: 1px solid var(--border-color);
}
@mixin secondery-btn {
  padding: 0.75rem 1.25rem;
  color: var(--main-pen);
  border-radius: 12px;
  border: 1px solid var(--border-color);
  transition: all 0.5s ease-out;
  display: block;
  text-align: center;
  margin: 1rem auto;
  width: max-content;
  min-width: 100px;
  &:hover {
    border: 1px solid var(--light-gray);
    background-color: var(--light-gray);
    cursor: pointer;
    color: var(--dark-gray);
  }
}
@mixin border-card {
  @include border;
  padding: 0.5rem 1rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
