@use "../../assets/style/Mix";
.flooe_textarea {
  margin: 0.5rem auto;
  div {
    display: flex;
    align-items: center;
    padding: 0.25rem 0;
 
    svg {
      color: var(--border-color);
    }
    span {
      color: var(--main-pen);
      font-family: "RobotoLight";
      margin: 0.5rem;
      font-size: 11pt;
    }
  }
  > textarea {
    @include Mix.border-card;
    width: 100% !important;
    height: 50px;
    text-align: left;
    color: var(--main-pen);
    min-height: 80px !important;
    font-family: "RobotoRegular";
    &:focus-visible {
      outline: 1px solid var(--border-color);
    }
  }
}